<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-box shadow">
    <h2 class="text-center mb-4">Bem-vindo</h2>
    <form (ngSubmit)="entrar()">
      <div class="mb-3">
        <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" placeholder="E-mail" />
      </div>
      <div class="mb-4">
        <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha" placeholder="Senha" />
      </div>
      <button class="btn-login w-100" type="submit">Entrar</button>
    </form>
    <p *ngIf="mensagemErro" class="text-danger mt-2 text-center">{{ mensagemErro }}</p>
  </div>
</div>
