/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #1CB5E0;
  --secondary-color: #000851;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f4f8;
}
